{% extends 'base.html.twig' %}

{% block body %}
    <h1>Factuur wijzigen</h1>
    <ul style="list-style-type: none">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <li>
            <input class="btn btn-success" type="submit" value="Wijzigen"/>
        </li>
        {{ form_end(edit_form) }}


        <li>
            <a class="btn btn-info" href="{{ path('factuur_index') }}">Terug naar overzicht</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
