{% extends 'base.html.twig' %}

{% block body %}
    <h1>Factuur</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ factuur.id }}</td>
        </tr>
        <tr>
            <th>Datum</th>
            <td>{{ factuur.datum }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('factuur_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-info" href="{{ path('factuur_edit', { 'id': factuur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
